.keypad {
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 10px;
}
.keypad .btnClose {

    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 20px;
    width:20px; height: 20px;
    padding: 5px;
    background: red;
    font-family: gui;
    color: white;

}

.keypad .btnMove {

    position: absolute;
    top: -10px;
    left: -10px;
    border-radius: 20px;
    width:20px; height: 20px;
    padding: 5px;
    background: red;
    font-family: gui;
    color: white;

}

.keypad td {

    min-width: 60px;
    height: 60px;
    font-family: helvetica;
    font-size: 18pt;
    border-radius: 5px;
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-weight: bold;
    color: white;
    /*
    background: #b5bdc8;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(36%,#828c95), color-stop(100%,#28343b));
    background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%);
*/

}

.keypadScreen {

    padding: 5px;
    border-radius: 5px;
    border:none;
    background: rgba(0,0,0,0.6);
    color: white;
    /* font-family: courier; */
    font-size:22pt;
    width: 220px;
    height: 50px;

}

.keypadArrow {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;

    border-left: 20px solid rgba(0,0,0,0.7);
}
