

.listSubHeading {

    font-size:19pt;
    color:rgba(0,0,0,0.7);
    width: 100%;
    padding: 5px;
    background: rgba(0,0,0,0.1);


}


.listRow input {

  border: none;
  color: #111;
  background: rgb(222,222,222);
  font-size: 18pt;
  text-align: center;

}


.listRow {

    border: none;
    font-size:13pt;
    height:40px;
    font-family: helvetica;
    color: #333;



}


.listRow td{


    height : 40px;
    color  : #333;
    vertical-align: middle;




}

.listRow table{


  border-bottom: 1px solid rgba(0,0,0,0.2);
  display:block; width:100%; height:100%;




}

.listRow:last-child table{


  border-bottom: none;




}
span.highlight {
    color: blue;
}
li[suggestion] {
    padding: 5px;
    border-bottom: thin solid #888888;
}
div#scrollableAutoCompleteWrapper {
    box-shadow: 10px 10px 5px #888888;
}
